<ion-header>
  <ion-toolbar color = "primary">
    <ion-buttons slot="end">
       <ion-icon name="notifications-outline"></ion-icon>
    </ion-buttons>
    <ion-button slot="start" href="home">
      <ion-icon name="arrow-back"></ion-icon>
    </ion-button>
      <ion-title>
      Sản Phẩm
    </ion-title>
  </ion-toolbar>
    <ion-searchbar ></ion-searchbar>
</ion-header>

<ion-content>
   <ion-grid style="margin: 4% ">
    <ion-row style="justify-content: space-around;margin-bottom: 10px;padding: 0 5px">
      <ion-col style="background-color: #EEEEEE;border-radius: 5px;margin: 10px; max-width: 150px;padding: 20px;text-align: center;" text-center >
        <img src="assets/image/plumbing.png">
           <span style="font-size: 0.4cm">ENGINEER</span> 
      </ion-col>
        <ion-col style="background-color: #EEEEEE;border-radius: 5px;margin: 10px; max-width: 150px;padding: 20px;text-align: center;" text-center >
          <img src="assets/image/paint-roller.png">
             <span style="font-size: 0.4cm">PAINT ROLLER</span>
      </ion-col>
    </ion-row>
   <ion-row style="justify-content: space-around;margin-bottom: 10px;padding: 0 5px">
      <ion-col style="background-color: #EEEEEE;border-radius: 5px;margin: 10px; max-width: 150px;padding: 20px;text-align: center;" text-center >
        <img src="assets/image/dumper.png">
          <span style="font-size: 0.4cm">DUMPER</span>
      </ion-col>
      <ion-col style="background-color: #EEEEEE;border-radius: 5px;margin: 10px; max-width: 150px;padding: 20px;text-align: center;" text-center >
        <img src="assets/image/saw.png">
        <span style="font-size: 0.4cm">SAW</span>
        </ion-col>
    </ion-row>
    <ion-row style="justify-content: space-around;margin-bottom: 10px;padding: 0 5px">
      <ion-col style="background-color: #EEEEEE;border-radius: 5px;margin: 10px; max-width: 150px;padding: 20px;text-align: center;" text-center >
        <img src="assets/image/light-bulb.png">
        <span style="font-size: 0.4cm">LIGHT BULB</span>
      </ion-col>
      <ion-col style="background-color: #EEEEEE;border-radius: 5px;margin: 10px; max-width: 150px;padding: 20px;text-align: center;" text-center >
        <img src="assets/image/engineer.png">
        <span style="font-size: 0.4cm">ENGINEER</span>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar color = "primary">
    <ion-title>QT SHOP</ion-title>
  </ion-toolbar>
</ion-footer>