<ion-header>
  <ion-toolbar color = "primary">
    <ion-title>Thông tin người dùng</ion-title>
      <ion-button href="home">home</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content padding>
	<section text-center>
		<ion-icon size="large" name="person"></ion-icon>
		<H2 style="font-size:1,4cm">welcome,<br>
		MR.Toan</H2>
	</section>
	<ion-grid>
  <ion-row>
    <ion-col text-center size="6">
      <ion-card text-center padding >
      	<ion-item href="home">
        <ion-icon name="person" style="font-size: 2cm" ></ion-icon>
        </ion-item>
      </ion-card>
        <h4>Profile</h4>
    </ion-col>
    <ion-col text-center size="6">
      <ion-card text-center padding  >
        <ion-icon name="person" style="font-size: 2cm"></ion-icon>
      </ion-card>
       <h4>Profile</h4>
    </ion-col>
  </ion-row>
   <ion-row>
    <ion-col text-center >
      <ion-card text-center padding >
        <ion-icon  name="appstore" style="font-size: 2cm"></ion-icon>
      </ion-card>
       <h4>Profile</h4>
    </ion-col>
    <ion-col text-center >
      <ion-card text-center padding >
        <ion-icon name="person" style="font-size: 2cm"></ion-icon>
      </ion-card>
       <h4>Profile</h4>
    </ion-col>
  </ion-row>
  <ion-row class="services-rows">
      <ion-col class="services-box" #box5 width-30>
         <span>LIGHT BULB</span>
      </ion-col>
      <ion-col class="services-box" #box6 width-30>
               <span>ENGINEER</span>
      </ion-col>
    </ion-row>
</ion-grid>

</ion-content>
<ion-footer>
  <ion-toolbar color = "primary">
    <ion-title center>QT SHOP</ion-title>
  </ion-toolbar>
</ion-footer>
