<ion-header>
  <ion-toolbar color = "primary">
  	<ion-button slot="end" href="giohang">
		<ion-icon name="cart"></ion-icon>
	</ion-button>
	    <ion-title>
      Trang chủ xay dung
    </ion-title>
  </ion-toolbar>
    <ion-searchbar ></ion-searchbar>
</ion-header>

<ion-content>
  <ion-grid style="margin: 4% ">
    <ion-row style="justify-content: space-around;margin-bottom: 10px;padding: 0 5px">
      <ion-col style="background-color: #EEEEEE;border-radius: 5px;margin: 10px; max-width: 150px;padding: 20px;text-align: center;" text-center >
        <a href="sanpham">
        <img src="assets/image/plumbing.png" href="sanpham"></a>
           <span style="font-size: 0.4cm">ENGINEER</span> 
      </ion-col>
        <ion-col style="background-color: #EEEEEE;border-radius: 5px;margin: 10px; max-width: 150px;padding: 20px;text-align: center;" text-center >
           <a href="sanpham">
          <img src="assets/image/paint-roller.png"></a>
             <span style="font-size: 0.4cm">PAINT ROLLER</span>
      </ion-col>
    </ion-row>
   <ion-row style="justify-content: space-around;margin-bottom: 10px;padding: 0 5px">
      <ion-col style="background-color: #EEEEEE;border-radius: 5px;margin: 10px; max-width: 150px;padding: 20px;text-align: center;" text-center >
         <a href="sanpham">
        <img src="assets/image/dumper.png"></a>
          <span style="font-size: 0.4cm">DUMPER</span>
      </ion-col>
      <ion-col style="background-color: #EEEEEE;border-radius: 5px;margin: 10px; max-width: 150px;padding: 20px;text-align: center;" text-center >
         <a href="sanpham">
        <img src="assets/image/saw.png"></a>
        <span style="font-size: 0.4cm">SAW</span>
        </ion-col>
    </ion-row>
    <ion-row style="justify-content: space-around;margin-bottom: 10px;padding: 0 5px">
      <ion-col style="background-color: #EEEEEE;border-radius: 5px;margin: 10px; max-width: 150px;padding: 20px;text-align: center;" text-center >
         <a href="sanpham">
        <img src="assets/image/light-bulb.png"></a>
        <span style="font-size: 0.4cm">LIGHT BULB</span>
      </ion-col>
      <ion-col style="background-color: #EEEEEE;border-radius: 5px;margin: 10px; max-width: 150px;padding: 20px;text-align: center;" text-center >
         <a href="nguoidung">
        <img src="assets/image/engineer.png"></a>
        <span style="font-size: 0.4cm">ENGINEER</span>
      </ion-col>
    </ion-row>
  </ion-grid>
 </ion-content>
<ion-footer>
  <ion-toolbar color = "primary">
    <ion-title>QT SHOP</ion-title>
  </ion-toolbar>
</ion-footer>

